.light-medium-contrast {
  --md-sys-color-primary: rgb(62 53 43);
  --md-sys-color-surface-tint: rgb(103 92 82);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(105 94 83);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(34 61 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(81 120 35);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 63 42);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(0 125 86);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(254 248 246);
  --md-sys-color-on-background: rgb(29 27 26);
  --md-sys-color-surface: rgb(248 250 246);
  --md-sys-color-on-surface: rgb(15 18 16);
  --md-sys-color-surface-variant: rgb(221 227 235);
  --md-sys-color-on-surface-variant: rgb(49 55 61);
  --md-sys-color-outline: rgb(77 83 89);
  --md-sys-color-outline-variant: rgb(103 110 116);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 49 47);
  --md-sys-color-inverse-on-surface: rgb(239 241 237);
  --md-sys-color-inverse-primary: rgb(211 196 183);
  --md-sys-color-primary-fixed: rgb(119 107 96);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(93 83 72);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(81 120 35);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(58 94 8);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(0 125 86);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(0 97 67);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(197 199 195);
  --md-sys-color-surface-bright: rgb(248 250 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 244 240);
  --md-sys-color-surface-container: rgb(231 233 228);
  --md-sys-color-surface-container-high: rgb(219 221 217);
  --md-sys-color-surface-container-highest: rgb(208 210 206);
}
