<main>
  <section>
    <div class="_9em">
      <h1 class="_9em_laptop">9emdesign</h1>
      <div class="_9em_mob">
        <h1 class="letters">9em</h1>
        <h1 class="letters">des</h1>
        <h1 class="letters">ign</h1>
      </div>
      <div class="_9em_tablet">
        <h1 class="letters_tablet01">9em</h1>
        <h1 class="letters_tablet02">design</h1>
      </div>

      <h2 class="hello">Hello</h2>
      <div class="hero"></div>
      <div class="bar"></div>
      <div class="image_cont">
        <div class="images">&nbsp;</div>
      </div>
      <!--  <div>&nbsp;</div> -->
    </div>
  </section>
</main>
